/* add some kind of border on your name */
:root {
    --main-blue: rgb(63, 125, 233)
}

/* I didnt use the clearfix class but I could have if I wanteed to, I wrote it in line instead */
.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }

html {
    font-size: 62.5%;
    background: linear-gradient(90deg, lightCyan, skyBlue);
}

.pBackground {
    clear: both;
}
/* I was tring to make a container for the image and 
paragraph so they can both be inside but the image on the left and 
the paragraph on the right */

h3 {
    color: var(--main-blue);
    text-align: left;
    font-size: 3rem;
    background: black;
    background-color: black;
    background-size: cover;
    font-family: serif;
}

/* how do i make the black background not extend out???
I tried adding a span but I couldnt get it to work*/

nav {
    margin: auto;
    display: flex;
    /* width: 100%;
    margin-left: 2%;
    height: 50px;
    line-height: 50px;
    margin-bottom: 50px; */

    /* font-size: 15px; */
    /* justify-content: flex-end;
    justify-content: space-evenly; */
    color: var(--main-blue);
}

.topnavleft a {
    color: var(--main-blue);
    width: 40%;
}
.topnavright {
    margin-left: 30%;
    width: 40%;
    /* line-height: 120px;
    margin-right: 17.2%;
    word-spacing: 50px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0; */
}
/* I tried putting the clear both and it didn't work here either
I am tring to make a bigger space in between the navigation bar and the About me */

.container {
    height: 500px;
}

section {
    clear: both;
    border-style: groove;
    color: darkgray;
    width: auto;
    /* height: 400%; */
    text-align: center;
    margin: 80px;
    background-image: url(https://images.unsplash.com/photo-1550645612-83f5d594b671?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&dl=markus-spiske-qjnAnF0jIGk-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    /* im not sure why the blur didn'work?? maybe I dont need to. I JUST WANT TO BE ABLE TO SEE THE WORDS */
}

div h2 {
    color: var(--main-blue);
    text-align: center;
    font-size: 4rem;
    background: black;
    background-size: 50px;
}

a {
    font-size: 5rem;
    text-decoration: none;
    color: var(--main-blue);
}

.wrapper {
    clear: both;
    margin-bottom: 200px;
}

img {
    width: 17%;
    height: auto;
    /* margin-left: 25px;
    margin-right: 25px; */
    filter: saturate(120%) brightness(120%);
    border-radius: 50px 50px 50px 50px;
}

.left {
    float: left;
}

/* why didn't this do anything?? */

@media screen and (max-width: 992px) {
    .card {
      width: 50%;
    }
    /* Change the header color */
    header {
      background: #772014;
    }
  }
  
  /* Cards are stacked on top of each other at 768px or smaller */
  @media screen and (max-width: 768px) {
    .card {
      width: 100%;
    }
    /* Change the header color */
    header {
      background: #8ac4ff;
    }
  }